<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Admin List</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/styleUser.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/newheader.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script>
		var getTransactionModule = angular.module("getTransaction", []);
		getTransactionModule.controller("getTransactionController", ($scope, $http, $location) => {


			$scope.current_username = sessionStorage.getItem('managername');

			$scope.clearSession = function () {
				sessionStorage.clear();
			}
			var url = "/ManageTransaction";

			$http.get(url).then((response) => {
				$scope.transactions = response.data;
			}, (response) => {
				$scope.getErrMsg = "Error Status: " + response.statusText;
			});
			$scope.deleteTransaction = function (tid) {
				$http.delete(url + '/' + tid).then(function (response) {
					$http.get(url).then((response2) => {
						$scope.transactions = response2.data;
					}, (response2) => {
						$scope.getErrMsg = "Error Status: " + response2.statusText;
					});
				}, function (response) {
					alert("fail to delete");
				});
			};

			$scope.seeDetail = function (productid) {
				sessionStorage.setItem("productID", productid);
				location.href = '/updateProductInfo';
			}
		});
	</script>
</head>

<body ng-app="getTransaction">
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/">Home</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/updateManagerInfo">My Info</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" ng-click="clearSession()" class="color3" href="/">Log Out</a>
			</li>
		</ul>
	</nav>

	<div class="text-center">
		<h2>Transaction History by Users ID</h2>
	</div>
	<div class="container" style="margin: auto;">

		<div class="" ng-controller="getTransactionController">
			<table class="table table-dark table-hover">
				<thead>
					<th>Trx ID</th>
					<th>Date Purchased</th>
					<th>User ID</th>
					<th>Price of Item</th>
					<th>Quantity Sold</th>
					<th></th>
				</thead>

				<tbody>
					<tr ng-repeat="t in transactions">
						<td>{{ t._id }}</td>
						<td>{{ t.transaction_date }}</td>
						<td>{{ t.user_ID }}</td>
						<td>${{ t.price }}</td>
						<td>{{ t.quantity }}</td>
						<td><a class="btn btn-danger" ng-click="deleteTransaction(t._id)">Delete</a></td>
					</tr>
				</tbody>

			</table>

			<a href="/managerHome"><button class="btn btn-primary">Admin Home</button></a>

		</div>

	</div>
</body>

</html>